<div class="padre">
    <div>
        <p>
            Nombre:Edwin Rolando Bustamante Ruiz
        </p>
        <p>
            Email:ebustamanter15_2@unc.edu.pe
        </p>
        <p>
            Direccion:Rosa Regalafo #273
        </p>
        <p>
            Celular:941809057
        </p>
        <p>
            Para más informacion sigueme en mis redes sociales:
        </p>
    </div>

    <div class="social">
        <ul>
            <li>
                <a href="https://web.facebook.com/erolando.bustamanteruiz" target="_blank" class="icon-facebook">Facebook</a>
            </li>
            <li>
                <a href="https://twitter.com/EdwinRolandoBR" target="_blank" class="icon-twitter">Twiter</a>
            </li>
            <li>
                <a href="https://www.instagram.com/erolando.27" target="_blank" class="icon-instagram">Instagram</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/edwin-rolando-bustamante-ruiz-20575a193/" target="_blank" class="icon-linkedin">Linkedin</a>
            </li>
        </ul>
    </div>
</div>